# App base URL
APP_URL=http://localhost:3000

# Payment provider to use
# stripe | lemonsqueezy
PAYMENT_PROVIDER=stripe


# Stripe secret API key
STRIPE_SECRET=

# Stripe webhook secret for verifying events
STRIPE_WEBHOOK_SECRET=

# Stripe price ID for subscription
STRIPE_PRICE_ID=



# Lemon Squeezy API key
LEMONSQUEEZY_API_KEY=

# Lemon Squeezy webhook secret
LEMONSQUEEZY_WEBHOOK_SECRET=

# Lemon Squeezy variant ID (equivalent to Stripe price ID)
LEMONSQUEEZY_VARIANT_ID=